
# Ignore Python virtual environment
myenv/
myenv/*
venv/
venv/*

# Python cache
__pycache__/
*.pyc

# Environment files
*.env

# VS Code settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Databases / local storage
*.db
*.sqlite3

# Byte-compiled files
*.pyo
*.pyd

# OS files
Thumbs.db
.DS_Store

# Logs
*.log
